*{
    margin: 0;padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.teamin {
    width: 30%;
}



.team {
    background-color: #405dff;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.name {
    font-weight: bold;
}

.who {
    font-size: calc(20px * var(--title-scale));
    line-height: 1.3em;
}

.grp {
    font-size: 1.5em;
}

.profileimg {
    width: 80px;
}


.teammem {
    text-align: center;
    margin: 10px 20px;
    width: calc(33.3333% - 40px);
}

.discrip {
    font-size: 1em;
}

.pdiscrip {
    font-size: 1em;
    line-height: 1.3em;
}

.content {
    background: rgba(0, 0, 0, .8);
    color: white;
    height: 150px;
    text-align: center;
    font: 2em sans-serif;
}

.journey {
 font-size: 2em;
 text-align: center;
 font-weight: bold;
 margin-top: 50px;
}

.myButton {
    text-align: center;
    align-items: center;
	background-color:#080c12;
	border-radius:14px;
	border:1px solid #080c12;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:11px 20px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#080c12;
	color:#ffffff;
    
}
.myButton:active {
	position:relative;
	top:1px;
}

.contentlogos {
    size: 100px 80px;
}

.myButton1 {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

.contentlogos {
    size: 100px 80px;
}